# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Django database
db.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# Media and static files
media/
staticfiles/

# Jupyter
.ipynb_checkpoints/